<!DOCTYPE html>
<html lang="pt">
<head>
    <%- include('./../partials/header-scripts'); %>
</head>
<body>
    
    <%- include('./../partials/navbar'); %>

    <div class="container">
        <h3><%=pergunta.titulo%></h3><hr>
        <p><strong>Fulano: </strong><%=pergunta.descricao%></p>
        <hr>
        <form action="/responder/<%=pergunta.id%>" method="post">
            <textarea name="resposta" cols="10" rows="5" class="form-control"></textarea><br>
            <button type="submit" class="btn btn-primary">Responder</a>
        </form>
    </div>

    <div class="container mt-3">
        <% respostas.forEach(resposta => { %>
        <div class="list-group">
            <label href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Um usuário respondeu</h5>
                    <small><%=resposta.createdAt%></small>
                </div>
                <p class="mb-1"><%=resposta.corpo%></small>
            </label>
        </div>
        <% }); %>
    </div>


    <%- include('./../partials/footer-scripts'); %>
</body>
</html>